OPENAI_BASE_URL=
OPENAI_API_KEY=
OPENAI_IMAGE_MODEL=gpt-image-2

SEEDREAM_BASE_URL=https://ark.cn-beijing.volces.com/api/v3
SEEDREAM_API_KEY=
SEEDREAM_MODEL=doubao-seedream-5-0-pro-260628

RANDOM_PROMPT_BASE_URL=
RANDOM_PROMPT_API_KEY=
RANDOM_PROMPT_MODEL=

ITERATION_BASE_URL=
ITERATION_API_KEY=
ITERATION_MODEL=
